body{
    margin: 15px 20px;
}

.cabecalho1{
    display: flex;
    justify-content: space-between;
}

.cabecalho1 .figure_cabecalho1 img{
    width: 50px;
    height: 25px;
}

.cabecalho1 ul {
    display: flex;
    justify-content: space-evenly;
    gap: 10px
}
.endereco {
    display: flex;
    justify-content: space-evenly;
    gap: 10px
}